<html>
<head>
    <title>User Detail</title>
</head>
<body>
  <h3 style='color:yellow' align='center'>This Section for USERS DETAILS</h3>
  <h4 style=color:darkbrown align='center'>This section is completely based on the users details. When you visit this section you can get the users details as soon as possible. So you can go through it. Thanking you</h4>
    <h1 style='color:violet'>User Details</h1>
    <p>ID: {{ user.id }}</p>
    <p>Name: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
</body>
</html>
